@import "../global/variables";
@import "../global/mixin";
@import "../global/mapas";

@media (min-width: 360px) and (max-width: 767px) {
  @include media("360-767");

  .parrafo-contacto {
    display: none;
  }
  .input-buscador {
    display: none;
  }
  .inicio {
    display: none;
  }
  .cuerpo-humano {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  @include media("992-1200");
}

@media (min-width: 1201px) and (max-width: 1260px) {
  @include media("1201-1260");
}
